body
{
  background-color: #0f2332 !important;
}
.wallet-container
{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/image.jpg);
  width: 340px;
  height: 650px;
  color: #fff;
  font-size: 15px;
  padding: 20px 20px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.page-title
{
  text-align: left;
}
.fa-user
{
  float: right;
}
.fa-align-left
{
  margin-right: 15px;
}
.amount-box img
{
  width: 50px;
}
.amount
{
  font-size: 35px;
}
.amount-box p
{
  margin-top: 10px;
  margin-bottom: -10px;
}
.btn-group
{
  margin: 20px 0;
}
.btn-group .btn
{
  margin: 8px;
  border-radius: 20px !important;
  font-size: 12px;
}
.txn-history
{
  text-align: left;
  overflow-y:auto;
  height: 285px;
}
.txn-list
{
  background-color: #fff;
  padding: 12px 10px;
  color: #777;
  font-size: 14px;
  margin: 7px 0;
}
.debit-amount
{
  color: red;
  float: right;
}
.credit-amount
{
  color: green;
  float: right;
}
.input-group
{
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 12px 48px;
}
.input-group .input
{
  margin: 8px;
  border-radius: 20px !important;
  font-size: 12px;
}
.footer-menu
{
  margin: 20px -20px 0;
  bottom: 0;
  border-top: 1px solid #ccc;
  padding: 10px 10px 0;
}
.footer-menu p
{
  font-size: 12px;
}
.swal-wide{
  width:250px !important;
}
.swal2-styled.swal2-confirm {
  background-color: #126ed6 !important;
}